body{
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 5.5%;
    column-gap: 2.7%;
    margin: 5%;
    padding-top: 10px;
}

.grid-item {
    background-color: rgb(218, 226, 219);
    border: 2px solid rgb(0, 0, 0);
    padding: 0;
    font-size: 20px;
    text-align: center;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    padding-bottom: 20px;
    box-shadow: 2px 2px 3px black;
}

.begining{
    text-align: center;
    background-color: rgb(208, 236, 212);
    padding: 5%;
    border: #000000 dashed 3px;
    font-size: 27px;
    border-left: 0;
    border-right: 0;
}

img{
    height: 200px;
    width: 200px;
    margin-top: 25px;
    border: #000000 solid 1px;
    margin-bottom: 10px;
    border-top-left-radius: 45px;
    border-bottom-right-radius: 45px;
    box-shadow: 0 3px 5px black;
}

.container0{
    width: auto;
    min-height: 100vh;
    background-size:cover;
    background-position:center;
    background-image: linear-gradient(rgba(224, 109, 109, 0),rgba(224, 109, 109, 0)),url(images/vegetables/vegetables.png);
    border: 5px solid black;
}

.guide ul{
    list-style-type: none;
    background-color: #000000;
    padding: 0px;
    margin-bottom: 4px;
    margin-top: 4px;
}

.igg{
    height: 90px;
    width: 90px;
    margin-top: 10px;
}

nav{
    width: auto;
    align-items: center;
    justify-content: space-between;
}

nav ul{
    width: 100%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    font-size: 20px; 
}

.guide a{
    color: white;
    text-decoration: none;
    padding: 20px 35px;
    display: block;
    text-align: center;
}

.guide a:hover{
    background-color: #3a3a3a;
    transform: scale(1.08);
}

.content h1 {
    font-size: 50px; 
    font-weight: 600;
    line-height: 85px;
    padding-top: 4%;
    padding-left: 8%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.content p {
    font-size: 30px;
    max-width: 100%;
    padding-left: 8%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content a:hover {
    background-color: #3a3a3a;
    transform: scale(1.02);
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 17px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #000000;
    min-width: 100px;
    z-index: 1;
    color: white;
}

.dropdowns{
    background-color: #000000;
    color: #fff;
    padding: 10px 25px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
}

h2{
    max-width: 70%;
    border-radius: 18px;
    padding: 10px;
    margin-left: 15%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    font-size: 26px;
    margin-top: 3%;
}

.part{
    background-color: #dee7df;
    border-radius: 25px;
    padding: 30px;
    margin-bottom: 35px;
    padding-top: 0%;
    padding-bottom: 15px;
}

.character{
    font-size: 20px;
    margin-left: 5%;
    margin-right: 5%;
}

.contenty{
    font-size: 26px;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 5%;
    padding: 20px;
    padding-left: 40px;
    padding-right: 40px;
    margin-left: 4%;
    margin-right: 4%;
}

.special{
    margin-left: 15%;
}

.specialh2{
    margin: 3%;
    margin-top: 10%;
    border-radius: 0%;
    padding-left: 0%;
    padding-right: 0%;
    max-width: 100%;
}

.button{
    background-color: #ffffff;
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: rgb(0, 0, 0);
    margin: 5px;
    border: 2px black solid;
    padding: 5px;
    padding-left: 35px;
    padding-right: 35px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

.button:hover{
    background-color: #000000;
    color: white;
}

.grid-item img:hover{
    transform: scale(1.04);
}

.ali{
    text-align: center;
}

h3,h4,h5{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Styles related to the footer part */
.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
    margin: 0 auto;
    background-color: #000000;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.footer-section {
    flex: 1;
    padding: 10px;
    min-width: 200px;
}

.footer-section h4{
    margin-bottom: 15px;
    font-size: 22px;
    text-align: center;
    font-family:  Calibri, 'Trebuchet MS', sans-serif;
}

.footer-section p, .footer-section a {
    text-decoration: none;
    margin: 5px 0;
    max-width: 100%;
    text-align: center;
    color: white;
}

.footer-section p{
    font-family: 'Arial Narrow Bold', sans-serif;
}

.leffff{
    margin-left: 30%;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
    text-decoration: none;
    text-align: center;
    font-family: 'Arial Narrow Bold', sans-serif;
}

.footer-section ul li:hover {
    transform: scale(1.1);
}

.footer-bottom {
    text-align: center;
    padding: 10px 0;
    background-color: #a7a5a5;
}

.footer-bottom p {
    max-width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

i{
    margin-right: 4%;
}

.footer-section h5{
    text-align: center;
}



@media screen and (max-width:600px){
    .container0 img{
        max-width: 100%;
        height: 100vh;
    }
    body{
        max-width: 100%;
    }
    .container0 h1{
        font-size: 40px;
        padding-top: 30%;
    }
    .container0 p{
	    font-size: 20px
    }
    .footer-container{
        display:block;
    }
    .grid-container{
        display: block;
    }
    .grid-item{
        margin: 5%;
    }
}